@using BabySparksSharedClassLibrary.Models
<div class="search-bar">
    <input type="text" placeholder="Search here">
</div>

<div class="tablayoutContainer">
    <RadzenTabs Change=@OnChange TabPosition="@tabPosition" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="DayCares">
                <div class="babysitters-container">
                    <div class="section-header">
                        <h2>Daycares in your city</h2>
                        <a href="#" class="see-all">See all</a>
                    </div>
                    <div class="babysitters-nearby slider">
                       

                        @foreach(DayCare daycare in dayCaresInCity)
                        {
                            <div class="profile-card">
                                <img src="/_content/BabySparksUIComponents/images/daycare_default.jpg" alt="Profile Picture" class="profile-image-daycare" />
                                <div class="profile-info">
                                    <h3>@daycare.DayCareName</h3>
                                    <p class="location"><i class="fa fa-map-marker"></i> @daycare.Address</p>
                                    <p class="bio">About: @daycare.Description</p>
                                    <div class="profile-actions">
                                        <button class="view-profile" @onclick="() => NavigateToProfile(daycare.Id)">View profile</button>
                                        <button class="message" @onclick="() => NavigateToMessages(daycare.Id)">Message</button>
                                    </div>
                                </div>
                                <div class="profile-rating">
                                    <i class="fa fa-star"></i> 4.1
                                </div>
                            </div>
                        }
                    </div>

                    @* <div class="section-header">
                        <h2>Top rated</h2>
                        <a href="#" class="see-all">See all</a>
                    </div>
                    <div class="top-rated">
                        <div class="profile-list-item">
                            <img src="/_content/BabySparksUIComponents/images/daycare_default.jpg" alt="Profile Picture" class="profile-list-image" />
                            <div class="profile-list-info">
                                <h3>Building Blocks daycar </h3><span><i class="fa fa-map-marker"></i> Kitchener</span>
                                <p class="rating"><i class="fa fa-star"></i> 4.9 / 808 reviews</p>
                            </div>
                            <i class="fa fa-heart-o favorite-icon"></i>
                        </div>
                    </div> *@
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Nannies">
                <div class="babysitters-container">
                    <div class="section-header">
                        <h2>Babysitters nearby</h2>
                        <a href="#" class="see-all">See all</a>
                    </div>
                    <div class="babysitters-nearby slider">
                        @foreach(var nany in nanniesInCity)
                        {
                            <div class="profile-card">
                                <img src="/_content/BabySparksUIComponents/images/profile.png" alt="Profile Picture" class="profile-image" />
                                <div class="profile-info">
                                    <h3>@nany.FirstName <span>$@nany.HourlyCharges /hr</span></h3>
                                    <p class="location"><i class="fa fa-map-marker"></i> @nany.Address</p>
                                    <p class="bio">Bio: @nany.Bio</p>
                                    <div class="profile-actions">
                                        <button class="view-profile" @onclick="() => NavigateToProfile(nany.Id)">View profile</button>
                                        <button class="message" @onclick="() => NavigateToMessages(nany.Id)">Message</button>
                                    </div>
                                </div>
                                <div class="profile-rating">
                                    <i class="fa fa-star"></i> 4.1
                                </div>
                            </div>
                        } 
                       
                    </div>

                    <div class="section-header">
                        <h2>Top rated</h2>
                        <a href="#" class="see-all">See all</a>
                    </div>
                    <div class="top-rated">
                        <div class="profile-list-item">
                            <img src="/_content/BabySparksUIComponents/images/profile.png" alt="Profile Picture" class="profile-list-image" />
                            <div class="profile-list-info">
                                <h3>Carole Howell <span>$20 /hr</span></h3>
                                <p class="rating"><i class="fa fa-star"></i> 4.9 / 808 reviews</p>
                            </div>
                            <i class="fa fa-heart-o favorite-icon"></i>
                        </div>
                        <!-- Repeat profile-list-item for more top rated babysitters -->
                    </div>
                </div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>
